<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>항해FC</title>
    <meta name="description" content="hanghae99">
    <meta name="author" content="hanghae99"> 
    <link rel="icon" type="image/png" href="icon/hanghae.png">
    <script src="https://kit.fontawesome.com/b56c04c043.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hi+Melody&family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../hanghae.css">
    <script src="main.js" defer></script>
</head>
<body>
    <nav class="hanghae-fc">
        <div class="logo">
            <a href="#">logo</a>
            <a href="#">HangHaeFC</a>
        </div>
        <ul class="nav-bar">
            <li><a href="">home</a></li>
            <li><a href="">beginner</a></li>
            <li><a href="">intermediate</a></li>
            <li><a href="">expert</a></li>
        </ul>
    
        <div class="login-box">
            <div>
                <input type="text" class="login" name="userid" placeholder="id">
                <input type="password" class="login" name="password" minlength="12" placeholder="password" required >
            </div>
            <div>
                
            </div>
            <input type="submit" value="join" class="join-btn">
            <input type="submit" value="sign in" class="sign-btn">
        </div>
    </nav>
    <div class="background-box">
        <img src="../imgs/ball-1368282.jpeg" class="img-fluid" alt="항해FC">
    </div>
    <div id="contents">
        <div class="first-video-box">
            <div>
                <iframe src="https://www.youtube.com/embed/rqrIs9o7_5s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div>
                <iframe src="https://www.youtube.com/embed/IMM5Qk8hDSw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div>
                <iframe src="https://www.youtube.com/embed/0vSifZ4jprA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="second-video-box">
            <div>
                <iframe src="https://www.youtube.com/embed/RsVCnzec4oI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div>
                <iframe src="https://www.youtube.com/embed/HGKB5WcChIk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div>
                <iframe src="https://www.youtube.com/embed/5ch94AaPZRQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div> 
    <main class="">
        <img src="" alt="">
    </main>
</body>
</html>