<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width= , initial-scale=1.0">

  <link rel="stylesheet" href="../static/css/index2.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet">

  <title>항해FC</title>
  
  <script src="https://kit.fontawesome.com/01200a824d.js" crossorigin="anonymous"></script>

  <!-- js -->
    <script src="../static/js/index2.js" defer></script>
    <script src="../static/js/login.js" defer></script>

    <!--removeCookie를 위한 jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script>
        function sign_out() {
            $.removeCookie('mytoken', {path: '/'});
            alert('로그아웃!')
            window.location.href = "/login"
        }

    </script>
</head>
<body>
  <nav class="navbar">
    <div class="navbar__logo">
        <i class="fa-regular fa-futbol"></i>
      <a href="#">HangHaeFC</a>
    </div>
    <ul class="navbar__menu">
      <li><a href="/">Home</a></li>
      <li><a href="/beginner">Beginner</a></li>
      <li><a href="/intermediate">intermediate</a></li>
      <li><a href="/expert">expert</a></li>
            <button class="nav-item button is-info is-light"
                    style="font-family: 'Do Hyeon', sans-serif; margin-top: 8px;"
                    onclick="sign_out()">logout
            </button>

    </ul>
    <a href="#" class="navbar__togglebtn">
      <i class="fa-solid fa-bars"></i>
    </a>
      <div class="bts">
</div>
  </nav>
</body>
</html>
